body{
    margin: 0px;
    overflow-x: hidden;
  }
  .btn_back{
    top: 20px;
    margin-top: 20px;
    margin-right: 30px;
    height: 60px;
    border-radius: 45px;
    border-width: 7px;
    border-color: #2FBFD7;
    background-color: #1D9CAD;
    border-style: solid;
    color: white;
    width: 180px;
    font-size: 30px;
    float: right;
    font-family: 'Segoe UI';
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
  }
  
  .container{
    height: 2200px;
    background-image: url("../images/Progress_EnglishBg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
    background-size: cover;
  }

  div.circle1{
    position: absolute;
    left: 50%; 
    top: 31%; 
    transform: translate(-40%, -50%);
    transition: 1s;
   

  }

  .lock1{
    position: absolute;
    left: 50%; 
    top: 30.7%; 
    transform: translate(-40%, -50%);
    transition: 1s;
    width: 120px;
    height: 120px;
    /* display: none; */
  }
    
  .circle{
    width: 120px;
    height: 120px;
  }


  div.circle2{
    left: 30%; 
    top: 50%; 
    position: absolute;
    transform: translate(-40%, -50%);
    transition: 1s;
  }
  .lock2{
    left: 30%; 
    top: 49.7%; 
    position: absolute;
    transform: translate(-40%, -50%);
    transition: 1s;
    width: 120px;
    height: 120px;
  }



  div.circle3{
    left: 80%; 
    top: 70%; 
    position: absolute;
    transform: translate(-40%, -50%);
    transition: 1s;
  }

  .lock3{
    left: 80%; 
    top: 69.5%; 
    position: absolute;
    transform: translate(-40%, -50%);
    transition: 1s;
    width: 120px;
    height: 120px;
  }

  div.circle4{
    left: 17%; 
    top: 98%; 
    position: absolute;
    transform: translate(-40%, -50%);
    transition: 1s;
  }

  .lock4{
    left: 17%; 
    top: 97.5%; 
    position: absolute;
    transform: translate(-40%, -50%);
    width: 120px;
    height: 120px;
  }
  div.circle5{
    left: 45%; 
    top: 140%; 
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
  }
  .lock5{
    left: 45%; 
    top: 140%; 
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 120px;
    height: 120px;
  }

  div.circle6{
    left: 82%; 
    top: 163%; 
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
  }
  .lock6{
    left: 82%; 
    top: 163%; 
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 120px;
    height: 120px;
  }

  div.circle7{
    left: 30%; 
    top: 205%; 
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
  }
  .lock7{
    left: 30%; 
    top: 205%; 
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 120px;
    height: 120px;
  }

  div.circle8{
    left: 41.5%; 
    top: 260%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
  }
  .lock8{
    left: 41.5%; 
    top: 260%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 120px;
    height: 120px;
  }
  div.circle9{
    left: 80%; 
    top: 300%; 
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
  }
  .lock9{
    left: 80%; 
    top: 300%; 
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 120px;
    height: 120px;
  }

