body{
  margin: 0px;
  overflow-x: hidden;
}
.btn_back{
  top: 20px;
  margin-top: 20px;
  margin-right: 30px;
  height: 60px;
  border-radius: 45px;
  border-width: 7px;
  border-color: #704915;
  background-color: #0A3400;
  border-style: solid;
  color: white;
  width: 180px;
  font-size: 30px;
  float: right;
  font-family: 'Segoe UI';
  font-weight: bold;
  position: sticky;
  z-index: 1;
}

.container{
  height: 2100px;
  background-image: url("../images/progress.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 110%;
  background-attachment: scroll;
  background-size: cover;
}

div.circle1{
  position: absolute;
  left: 50%; 
  top: 28%; 
  transform: translate(-40%, -50%);
  transition: 1s;
}
.lock1{
  position: absolute;
  left: 50%; 
  top: 28%; 
  transform: translate(-40%, -50%);
  transition: 1s;
  width: 120px;
  height: 120px;
}
.circle{
  width: 120px;
  height: 120px;
}
div.circle2{
  left: 30%; 
  top: 40%; 
  position: absolute;
  transform: translate(-40%, -50%);
  transition: 1s;
}
.lock2{
  left: 30%; 
  top: 40%; 
  position: absolute;
  transform: translate(-40%, -50%);
  transition: 1s;
  width: 120px;
  height: 120px;
}
div.circle3{
  left: 79%; 
  top: 70%; 
  position: absolute;
  transform: translate(-40%, -50%);
  transition: 1s;
}
.lock3{
  left: 79%; 
  top: 70%; 
  position: absolute;
  transform: translate(-40%, -50%);
  transition: 1s;
  width: 120px;
  height: 120px;
}

div.circle4{
  left: 19%; 
  top: 90%; 
  position: absolute;
  transform: translate(-40%, -50%);
  transition: 1s;
}
.lock4{
  left: 19%; 
  top: 90%; 
  position: absolute;
  transform: translate(-40%, -50%);
  transition: 1s;
  width: 120px;
  height: 120px;
}

div.circle5{
  left: 47%; 
  top: 135%; 
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1s;
}
.lock5{
  left: 47%; 
  top: 135%; 
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1s;
  width: 120px;
  height: 120px;
}

div.circle6{
  left: 82%; 
  top: 150%; 
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1s;
}
.lock6{
  left: 82%; 
  top: 150%; 
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1s;
  width: 120px;
  height: 120px;
}
div.circle7{
  left: 30%; 
  top: 173%; 
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1s;
}
.lock7{
  left: 30%; 
  top: 173%; 
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1s;
  width: 120px;
  height: 120px;
}
div.circle8{
  left: 42%; 
  top: 225%; 
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1s;
}
.lock8{
  left: 42%; 
  top: 225%; 
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1s;
  width: 120px;
  height: 120px;
}
div.circle9{
  left: 10%; 
  top: 256%; 
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1s;
}
.lock9{
  left: 10%; 
  top: 256%; 
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1s;
  width: 120px;
  height: 120px;
}
div.circle0{
  left: 1020px; 
  top: 1800px; 
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1s;
}
.lock10{
  left: 1020px; 
  top: 1800px; 
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 1s;
  width: 120px;
  height: 120px;
}