body{
    margin: 0px;
    overflow-x: hidden;
  }
  .btn_back{
    top: 20px;
    margin-top: 20px;
    margin-right: 30px;
    height: 60px;
    border-radius: 45px;
    border-width: 7px;
    border-color: #671192;
    background-color: #AB04B7;
    border-style: solid;
    color: white;
    width: 180px;
    font-size: 30px;
    float: right;
    font-family: 'Segoe UI';
    font-weight: bold;
    position: sticky;
    z-index: 1;
}
  
  .container{
    width: 100%;
    height: 2200px;
    background-image: url("../images/Progress_ScienceBg.svg");
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110% 110%;
    background-attachment: scroll;
    background-size: cover;
  }

  
  div.circle1{
    position: absolute;
    left: 50%; 
    top: 31%; 
    transform: translate(-40%, -50%);
  }
  .lock1{
    position: absolute;
    left: 50%; 
    top: 31%; 
    transform: translate(-40%, -50%);
    width: 120px;
    height: 120px;
  }

  .circle{
    width: 120px;
    height: 120px;
  }
  div.circle2{
    left: 30%; 
    top: 50%; 
    position: absolute;
    transform: translate(-40%, -50%);
  }
  .lock2{
    left: 30%; 
    top: 50%; 
    position: absolute;
    transform: translate(-40%, -50%);
    width: 120px;
    height: 120px;
  }

  div.circle3{
    left: 80%; 
    top: 70%; 
    position: absolute;
    transform: translate(-40%, -50%);
  }
  .lock3{
    left: 80%; 
    top: 70%; 
    position: absolute;
    transform: translate(-40%, -50%);
    width: 120px;
    height: 120px;
  }
  div.circle4{
    left: 17%; 
    top: 98%; 
    position: absolute;
    transform: translate(-40%, -50%);
    transition: 1s;
  }
  .lock4{
    left: 17%; 
    top: 98%; 
    position: absolute;
    transform: translate(-40%, -50%);
    transition: 1s;
    width: 120px;
    height: 120px;
  }
  div.circle5{
    left: 45%; 
    top: 140%; 
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .lock5{
    left: 45%; 
    top: 140%; 
    position: absolute;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
  }
  div.circle6{
    left: 82%; 
    top: 163%; 
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .lock6{
    left: 82%; 
    top: 163%; 
    position: absolute;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
  }
  div.circle8{
    left: 41.5%; 
    top: 240%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .lock7{
    left: 41.5%; 
    top: 240%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
  }
  div.circle9{
    left: 9%; 
    top: 270%; 
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
  }
  .lock8{
    left: 9%; 
    top: 270%; 
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 120px;
    height: 120px;
  }
  div.circle0{
    left: 80%; 
    top: 300%; 
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .lock9{
    left: 80%; 
    top: 300%; 
    position: absolute;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
  }